spawn-at-startup "ashell"
spawn-at-startup "AyuGram"
spawn-at-startup "mako"
spawn-at-startup "swap-wallpaper"
spawn-at-startup "vesktop"
spawn-at-startup "{{browser}}"
spawn-at-startup "vicinae" "server"
