outputs = "All"
position = "Top"
app_launcher_cmd = "fuzzel"
enable_esc_key = true

[modules]
left = [ [ "Workspaces" ] ]
center = [  ]
right = [ "SystemInfo", "Tray", [ "Tempo", "Privacy", "Settings" ] ]

[updates]
check_cmd = "checkupdates; paru -Qua"
update_cmd = 'alacritty -e bash -c "paru; echo Done - Press enter to exit; read" &'

[workspaces]
visibility_mode = "MonitorSpecificExclusive"
# indicator_format = "NameAndIcons"
# group_by_monitor = true
# enable_workspace_filling = true
workspace_names = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10" ]
# workspace_names = [ "一", "二", "三", "四", "五", "六", "七", "八", "九", "十" ]
# disable_special_workspaces = true

[tempo]
clock_format = "%a %d %b %Y %H:%M:%S"
weather_location = "Current"
weather_indicator = "Icon"
wind_speed_unit = "Ms"

[settings]
indicators = [ "IdleInhibitor", "PowerProfile", "Audio", "Bluetooth", "Network", "Vpn", "Battery" ]
lock_cmd = "playerctl --all-players pause; swaylock"
audio_sinks_more_cmd = "{{ .terminal }} -e pulsemixer"
audio_sources_more_cmd = "{{ .terminal }} -e pulsemixer"
wifi_more_cmd = "nm-connection-editor"
vpn_more_cmd = "mullvad-vpn"
bluetooth_more_cmd = "{{ .terminal }} -e bluetui"
suspend_cmd = "loginctl suspend"
hibernate_cmd = "loginctl suspend-then-hibernate"
reboot_cmd = "loginctl reboot"
logout_cmd = "logout"
remove_airplane_btn = true
remove_idle_btn = true
peripheral_indicators = {Specific = [ "Gamepad", "Keyboard" ]}

[system_info]
indicators = [ "Cpu", "Memory", "Temperature" ]

[system_info.temperature]
warn_threshold = 70
alert_threshold = 85

[animations]
enabled = false

# ── Appearance ────────────────────────────────────────────────────────────────

[appearance]
style = "Solid"
opacity = 0.9
# font_name = "Sans"
# scale_factor = 1.0
blur = "auto"

primary_color = "#c4a7e7"
success_color = "#9ccfd8"
warning_color = "#f6c177"
danger_color = "#eb6f92"
text_color = "#e0def4"

workspace_colors = [ "#c4a7e7", "#9ccfd8", "#ebbcba", "#31748f" ]

[appearance.bar]
surface = "solid"

[appearance.background_color]
base = "#191724"
weak = "#1f1d2e"
strong = "#26233a"
weakest = "#21202e"
weaker = "#21202e"
neutral = "#26233a"
stronger = "#403d52"
strongest = "#524f67"
text = "#e0def4"

[logging]
level = "warn"
