spawn-at-startup "AyuGram"
spawn-at-startup "ashell"
spawn-at-startup "flatpak" "run" "com.github.wwmm.easyeffects"
// spawn-at-startup "flatpak" "run" "dev.vencord.Vesktop"
spawn-at-startup "vesktop"
spawn-at-startup "mako"
spawn-at-startup "spotify-launcher"
spawn-at-startup "swap-wallpaper"
spawn-at-startup "{{browser}}"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "swayidle timeout 600 '$HOME/.local/bin/gandalf-screensaver start' resume '$HOME/.local/bin/gandalf-screensaver stop'"
